@model shoes_asp.Models.Category

@{
    ViewData["Title"] = "Thêm danh mục";
    Layout = "~/Views/SharedAdmin/_AdminLayout.cshtml";
}

<h2 class="mb-4">Thêm danh mục</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">Tên danh mục</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}