<footer id="colorlib-footer" role="contentinfo">
    <div class="container">

        <div class="row row-pb-md">

            <div class="col footer-col colorlib-widget">
                <h4>Giới thiệu</h4>

                <p>
                    Website bán giày được xây dựng bằng ASP.NET Core MVC.
                    Đây là đồ án môn học với chức năng xem sản phẩm,
                    chi tiết sản phẩm, giỏ hàng và thanh toán.
                </p>

                <ul class="colorlib-social-icons">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                </ul>
            </div>



            <div class="col footer-col colorlib-widget">
                <h4>Chăm sóc khách hàng</h4>

                <ul class="colorlib-footer-links">
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="#">Đổi / Trả hàng</a></li>
                    <li><a href="#">Phiếu quà tặng</a></li>
                    <li><a href="#">Danh sách yêu thích</a></li>
                    <li><a href="#">Khuyến mãi</a></li>
                    <li><a href="#">Hỗ trợ khách hàng</a></li>
                    <li><a href="#">Sơ đồ website</a></li>
                </ul>
            </div>



            <div class="col footer-col colorlib-widget">
                <h4>Thông tin</h4>

                <ul class="colorlib-footer-links">
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Thông tin giao hàng</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Hỗ trợ</a></li>
                    <li><a href="#">Theo dõi đơn hàng</a></li>
                </ul>
            </div>



            <div class="col footer-col">
                <h4>Tin tức</h4>

                <ul class="colorlib-footer-links">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Báo chí</a></li>
                    <li><a href="#">Sự kiện</a></li>
                </ul>
            </div>



            <div class="col footer-col">
                <h4>Thông tin liên hệ</h4>

                <ul class="colorlib-footer-links">
                    <li>
                        TP. Hồ Chí Minh, Việt Nam
                    </li>

                    <li>
                        <a href="tel://0123456789">
                            0123 456 789
                        </a>
                    </li>

                    <li>
                        <a href="mailto:shopgiay@gmail.com">
                            shopgiay@gmail.com
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            www.shopgiay.com
                        </a>
                    </li>
                </ul>
            </div>


        </div>

    </div>



    <div class="copy">
        <div class="row">
            <div class="col-sm-12 text-center">

                <p>
                    <span>
                        © <script>document.write(new Date().getFullYear());</script>
                        Website bán giày ASP.NET Core MVC 
                    </span>
                </p>

            </div>
        </div>
    </div>

</footer>